.container {
  min-height: 100vh;
  padding: 0.5rem 2rem;
  margin-bottom: 8rem;

  .logo {
    position: absolute;
    top: 0.3rem;
    left: 1rem;

    font-weight: 600;
  }

  form {
    width: 100%;
    max-width: 35rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    label {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      gap: 0.8rem;
      font-size: 1.3rem;
    }

    .task_title {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid black;
      font-size: 1.2rem;
      resize: none;
      font-family: "Inter";
      padding-block: 1rem;
    }

    .task_title:focus,
    .task_description:focus {
      outline: none;
    }

    .task_description {
      font-family: "Inter";
      background: none;
      border: none;
      border-bottom: 1px solid black;
      font-size: 1.2rem;
      resize: none;
      padding-block: 1rem;
    }

    .state_container {
      position: relative;
    }

    .task_state {
      background: none;
      border-radius: 5px;
      border: 1px solid black;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none; // For Firefox
      height: 3rem;
      padding-inline: 1rem;
      font-family: "Inter";
      font-weight: 600;
      font-size: 1rem;

      option {
        font-size: 1.1rem;
      }
    }

    .create_task {
      background: none;
      padding: 1.5rem;
      border: 2px solid black;
      border-radius: 10px;
      font-family: "Inter";
      font-size: 1rem;
      font-weight: 600;
    }
    .create_task:hover {
      cursor: pointer;
    }

    .delete_task {
      background: none;
      padding: 1.5rem;
      color: rgb(205, 4, 4);
      border: 2px solid rgb(205, 4, 4);
      border-radius: 10px;
      font-family: "Inter";
      font-size: 1rem;
      font-weight: 600;
    }
    .delete_task:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 650px) {
  .container {
    margin-left: 12rem;

    .logo {
      display: none;
    }
  }
}
